
Authify/db.sqlite3
db.sqlite3
venv/
system-design.drawio
# Ignore all __pycache__ folders
__pycache__/
Authify/__pycache__/
SecureBase/__pycache__/
Authify/Authify/__pycache__/
Authify/SecureBase/__pycache__/
SecureBase/migrations/__pycache__/
SecureBase/migrations/*
# Track migration files, do NOT ignore them
# SecureBase/migrations/*.py (should be tracked)