
Authify/db.sqlite3
Authify/Authify/migrations/
Authify/SecureBase/migrations/
Authify/Authify/__pycache__/
Authify/SecureBase/__pycache__/
venv/
Authify/__pycache__/__init__.cpython-312.pyc
Authify/__pycache__/settings.cpython-312.pyc
system-design.drawio